@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.ttf');
    src: url('../fonts/OpenSans-Regular.woff');
    src: url('../fonts/OpenSans-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.ttf');
    src: url('../fonts/OpenSans-Bold.woff');
    src: url('../fonts/OpenSans-Bold.woff2');
    font-weight: normal;
    font-style: normal;
    }
  