.wrapper {
    /* max-width: 1660px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.conteiner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome {
    min-height: 450px;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
}

.welcome::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.top-panel-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}

.logo {
    width:180px;
}

.menu {
    display: flex;
}

.menu-list-item {
    display: inline-block;
    color: #ffffff;

}

.menu-link {
    margin-left: 30px;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    font-family: 'OpenSansRegular';
    text-transform: uppercase;
}

.menu-link:hover {
    text-decoration: underline;
}

.header-slogan {
    width: 59%;
    margin-top: 104px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: #ffffff;
    font-family: 'OpenSansBold';
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    cursor: default;
}

.trends {
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.trends-wrapper {
    text-align: center;
    width: 100%;
}

.trends-title {
    display: inline-block;
    padding-bottom: 43px;
    text-align: center;
    font-family: 'OpenSansBold';
    color: #0f0d0e;
    font-size: 1.25em;
    text-transform: uppercase;
    position: relative;
    cursor: default;
}

.trends-title::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 3px;
    top: 1.9em;;
    left: 50%;
    background-color: #e1d9bd;
}

.trends-title::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 3px;
    top: 1.9em;;
    right: 50%;
    background-color: #e1d9bd;
}

.trends-conteiner {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trends-inner {
    width: 24.8%;
    position: relative;
    color: #ffffff;
    min-height: 50px;
}

.trends-inner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}

.trends-avatar {
    width: 100%;
}

.trends-content {
    width: 100%;
    text-align: start;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.trends-content-conteiner {
    border: 3px solid #b59f5b91;
    padding: 39px 35px 37px;
}

.trends-content-list {
    display: flex;
}

.trends-content-tag {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 5px;
    font-family: 'OpenSansBold';
    color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
}

.trends-content-tag:hover {
    text-decoration: underline;
}

.trends-content-title {
    font-family: 'OpenSansBold';
    color: #ffffff;
    font-size: 1.25em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.trends-content-title:hover {
    color: #b59f5b;
}

.posts-conteiner {
    display: flex;
    padding-top: 59px;
}

.posts {
    width: 77%;
    text-align: start;
}

.post {
    display: flex;
    margin-bottom: 62px;
}

.post-img {
    width: 42%;
    margin-right: 34px;
}

.post-inner {
    padding-right: 108px;
}

.post-title {
    margin-bottom: 28px;
    color: #0f0d0e;
}

.post-date {
    font-family: 'OpenSansRegular';
    color: #888888;
    font-size: 0.75em;
    margin-right: 7px;
}

.post-author {
    font-family: 'OpenSansBold';
    font-size: 0.75em;
    color: #000000;
}

.post-description {
    margin-top: 45px;
}

.post-text {
    padding-right: 9px;
    margin-bottom: 10px;
    font-family: 'OpenSansRegular';
    font-size: 0.9375em;
    line-height: 1.47em;
    color: #0f0d0e;
}

.sidebar {
    width: 23%;
    font-size: 11.2px;
}

.latest-posts {
    margin-bottom: 62px;
}

.latest-posts-title {
    padding-bottom: 36px;
}

.latest-post {
    display: flex;
    text-align: start;
    font-size: 16px;
    margin-bottom: 20px;
}

.latest-post-img {
    padding-top: 1px;
    margin-right: 16px;
}

.latest-post-date {
    display: inline-block;
    margin-bottom: 2px;
}

.latest-post-title {
    color: #000000;
    font-size: 0.875em;
    line-height: 1.29em;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.search-field {
    width: 221px;
    height: 47px;
    padding-left: 15px;
    background-color: #f4f7f6;
    font-family: 'OpenSansRegular';
    font-size: 1.16em;
    color: #000000;
    opacity: 0.54;
}

.search-field::placeholder {
    font-family: 'OpenSansRegular';
    color: #000000;
    opacity: 0.54;
}

.search-field:hover {
    border: 1px solid #b59f5b;
}

.search-field:focus {
    border: 1px solid #b59f5b;
}

.search-btn {
    width: 48px;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.search-btn:hover {
    background-color: #323232;
}

.subscribe-title {
    padding-right: 5px;
}

.subscribe-email {
    width: 100%;
    margin-bottom: 19px;
}

.subscribe-btn {
    height: 46px;
    width: 100%;
    margin-bottom: 58px;
    background-image: none;
    font-family: 'OpenSansBold';
    color: #ffffff;
    font-size: 1.25em;
    text-transform: uppercase;
}

.tags {
    margin-bottom: 51px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 4px 13px 4px 13px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'OpenSansBold';
    color: #0f0d0e;
    font-size: 1.07em;
    text-transform: uppercase;
    border: 3px solid #eeeeee;

    display: inline-block;
}

.tag:hover {
    border-color: #b59f5b;
    opacity: 0.9;
}

.categories-list {
    text-align: start;
}

.categories-link {
    font-family: 'OpenSansBold';
    font-size: 1.25em;
    color: #000000;
    display: inline-flex;
    height: 19px;
    margin-bottom: 15px;
}

.categories-link:hover {
    color: #b59f5b
}

.categories-quantity {
    font-size: 0.86em;
    color: #b59f5b;
    align-self: baseline;
    margin-left: 3px;
}

.categories-line {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    margin-bottom: 12px;
}

.shop {
    text-align: center;
    margin-bottom: 63px;
}

.shop-conteiner {
    display: flex;
    justify-content: space-between;
}

/* .shop-item {
    width: 30%;
    position: relative;
}

.shop-content {
    width: 100%;
    height: 263px;
    text-align: start;
    border: 3px solid #d3c59d;
    position: absolute;
    top: 170px;
    padding-left: 19px;
    padding-top: 53px;
    padding-right: 26px;
} */

.shop-item {
    width: 30%;
    /* height: 200px; */
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 170px;
}

.shop-background-1 {
    background-image: url("../images/shop-item-desk1.jpg");
}

.shop-background-2 {
    background-image: url("../images/shop-item-desk2.jpg");
}

.shop-background-3 {
    background-image: url("../images/shop-item-desk3.jpg");
}

.shop-content {
    width: 100%;
    height: 100%;
    text-align: start;
    border: 3px solid #d3c59d;
    padding-left: 19px;
    padding-top: 53px;
    padding-right: 26px;
    padding-bottom: 28px;
}

.shop-content-title {
    margin-bottom: 0;
}

.shop-content-text {
    padding-right: 0;
}

.shop-content-link {
    display: inline;
    text-transform: none;
    margin: 0;
}

.shop-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.shop-content-price {
    display: flex;
    flex-direction: column;
}

.shop-old-price {
    font-family: 'OpenSansBold';
    text-decoration: line-through;
    font-size: 0.875em;
    line-height: 10px;
}

.shop-new-price {
    font-family: 'OpenSansBold';
    font-size: 1.25em;
}

.shop-buy-link {
    display: block;
    text-align: center;
    padding-left: 8px;
    font-size: 0.875em;
    width: 140px;
    margin-bottom: 0;
}

.footer-link {
    height: 83px;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px
}

.footer-link-img {
    width: 20px;
}

.footer-copyrights {
    min-height: 128px;
    text-align: center;
    padding-top: 70px;
    padding-left: 10px;
}

.footer-copyrights-text {
    font-family: 'OpenSansBold';
    font-size: 0.75em;
    color: #999999;
}

.popup {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;

    display: none;
}

.popup-conteiner {
    max-width: 388px;
    width: 95%;
    margin: auto;
    /* margin-top: 192px; */
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 49px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}

.popup-close {
    width: 19px;
    height: 19px;
    background-image: url("../svg/form-x.svg");
    position: absolute;
    top: -27px;
    right: -4px;
}

.popup-form {
    text-align: center;
}

.popup-form-title {
    padding-left: 6px;
    padding-bottom: 35px;
}

.popup-label {
    display: block;
    text-align: start;
    position: relative;
    margin-bottom: 29px;
}

.popup-label-title {
    display: inline-block;
    margin-bottom: 7px;
    font-family: 'OpenSansRegular';
    font-size: 0.8125em;
    padding-right: 5px;
    line-height: 17px;
}

.popup-select {
    font-family: 'OpenSansRegular';
    font-size: 0.8125em;
    opacity: 0.54;
    background-color: #f4f7f6;
    -webkit-appearance: none;
    -moz-appearace: none;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 20px;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 14px center;
    -webkit-appearance: none;
    -moz-appearace: none;
}

.popup-select:hover {
    outline: 1px solid #b59f5b;
}

.popup-select:focus {
    outline: 1px solid #b59f5b;
}

.radio {
    width: 0;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearace: none;
}

.radio-agreement {
    font-family: 'OpenSansRegular';
    font-size: 0.8125em;
    margin-left: 1px;
    margin-right: 10px;
}

.radio-agreement::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    border-radius: 50%;
    border: 2px solid #b59f5b;
    margin-right: 4px;
}

.radio:checked + .radio-agreement::before {
    background-image: url("../svg/form-circle.svg");
    background-size: 16px;
}

.popup-text {
    background-image: none;
    min-height: 128px;
    resize: none;
    padding-top: 18px;
}

.form-button {
    font-size: 0.875em;
}