.sidebar {
    width: 23%;
    font-size: 11.2px;
}

.latest-posts {
    margin-bottom: 62px;
}

.latest-posts_title {
    padding-bottom: 36px;
}

.latest-post {
    display: flex;
    text-align: start;
    font-size: 16px;
    margin-bottom: 20px;
}

.latest-post__img {
    padding-top: 1px;
    margin-right: 16px;
}

.latest-post_date {
    display: inline-block;
    margin-bottom: 2px;
}

.latest-post__inner {
    
}

.latest-post_title {
    color: #000000;
    font-size: 0.875em;
    line-height: 1.29em;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.search__field {
    width: 221px;
    height: 47px;
    padding-left: 15px;
    background-color: #f4f7f6;
    font-family: 'OpenSansRegular';
    font-size: 1.16em;
    color: #000000;
    opacity: 0.54;
}

.search__field::placeholder {
    font-family: 'OpenSansRegular';
    color: #000000;
    opacity: 0.54;
}

.search__field:hover {
    border: 1px solid #b59f5b;
}

.search__field:focus {
    border: 1px solid #b59f5b;
}

.search__btn {
    width: 48px;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.search__btn:hover {
    background-color: #323232;
}

.subscribe_title {
    padding-right: 5px;
}

.subscribe_email {
    width: 100%;
    margin-bottom: 19px;
}

.subscribe_btn {
    height: 46px;
    width: 100%;
    margin-bottom: 58px;
    background-image: none;
    font-family: 'OpenSansBold';
    color: #ffffff;
    font-size: 1.25em;
    text-transform: uppercase;
}

.tags {
    margin-bottom: 51px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 4px 13px 4px 13px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'OpenSansBold';
    color: #0f0d0e;
    font-size: 1.07em;
    text-transform: uppercase;
    border: 3px solid #eeeeee;

    display: inline-block;
}

.tag:hover {
    border-color: #b59f5b;
    opacity: 0.9;
}

.categories__list {
    text-align: start;
}

.categories__link {
    font-family: 'OpenSansBold';
    font-size: 1.25em;
    color: #000000;
    display: inline-flex;
    height: 19px;
    margin-bottom: 15px;
}

.categories__link:hover {
    color: #b59f5b
}

.categories__quantity {
    font-size: 0.86em;
    color: #b59f5b;
    align-self: baseline;
    margin-left: 3px;
}

.categories__line {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    margin-bottom: 12px;
}